.main-div{
    margin-top: 2em;
    margin-bottom: 1em;
}

.icon-image{
    margin-right: 0.5em;
}
.mainscreen-heading{
    margin-bottom: 1em;
}

.ms-links{
    text-decoration: none;
    color: black;
}